:80
root * /opt/caddy/mikutap-master
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

@websocket_xray_vmess {
header Connection *Upgrade*
header Upgrade    websocket
path /v2
}
reverse_proxy @websocket_xray_vmess unix//opt/caddy/vmess
